doctype html
html
    head
        title Reset Password
        link(rel='stylesheet', href='/style.css')
    body
        .reset-password-container
            h2 Reset Password
            form(method='POST', action=`/user/reset-password/${token}`)
                div
                    label(for='newpassword') New Password:
                    input(type='password', id="newpassword", name='newpassword', required=true)
                button(type='submit') Reset Password
            if message
                p= message